
body{
    background-color: black;
    filter: blur();
    margin-top: 0px;
}


form{
    width: 400px;
    position: absolute;
    left: 700px;
    top: 360px;
   display: flex;
    flex-direction: column;
    border: solid 2px black;
    height: 250px;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(171, 167, 167);
}



.mit:hover{
    background-color: rgb(25, 135, 84);
    cursor: pointer;
}

.mit{
     width: 120px;
    border-radius: 20px;
    height: 30px;
    position: relative;
    left: 110px;
}


.imm{
    position: relative;
    left: 42%;
    top:140px;
    border-radius: 100px;
}



.css-spinner {
 background: rgba(255, 255, 255, 0.7); /* sfondo semitrasparente se vuoi */
border: 10px solid #f3f3f3;
border-top: 6px solid #34db47;
border-radius: 50%;
width: 58px;
height: 57px;
animation: spin 1s linear infinite;
position: relative;
top: 441px;
left: 60px;
z-index: 1000;
position:relative;
left:50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.niente{
    display: none;
    
}





.pointer{
    cursor: pointer;
}

