<app-fotologin-admin> 
    <div class="css-spinner" *ngIf="visibleSpinner"></div>
    <div [ngClass]="visibleSpinner === true ? 'niente' : 'si'">
<img   *ngIf="ControlloEmail?.value == emailMia" src="/images/max.jpg" class="imm" alt="fotoMax" width="200" height="200"> 
<form [formGroup]="adminForm"  style="display: flex; flex-direction: column;">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input   matInput formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput  type="password" formControlName="password">
  </mat-form-field>

  <button (click)="onSubmit()" class="mit" type="submit" mat-raised-button color="primary">Invia</button>
</form>
</div>
</app-fotologin-admin>
