
<div class="d-flex flex-direction-row w-100"> 
<mat-toolbar class="w-25">
  <mat-toolbar-row    class="w-25 profilo">
    <span [routerLink]="['/profilo/profilo1']" routerLinkActive="router-link-active" >Profilo </span>
  </mat-toolbar-row>

  <mat-toolbar-row class="w-25 questionario">
    <span class="w-25">Questionario</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row class="w-25 punti">
    <span class="w-50">Punteggio al quiz</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container w-75">
  <mat-drawer-content >
    <router-outlet></router-outlet> 
  </mat-drawer-content>
</mat-drawer-container>
</div>