table{
    background-color: red;
}

div{
    display: flex;
    flex-direction: column;
    width: 300px;
}

button{
    width: 120px;
    border-radius: 20px;
    margin-left: 60px;
}


.tabella{
    margin-top: 150px;
}

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
  height: 170px;
  z-index: 1000; 
  width: 442px;
    padding: 21px;
}





.conferma{
 background-color: green;
 position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
  height: 130px;
  z-index: 1000; 
  font-family: cursive;
}


.noblur{
    filter: none;
    background-color: red;
}

.closer{
    position: relative;
    left: 358px;
    bottom: 24px;
    cursor: pointer;
}

.normale{
    background-color: white;
    width: 80px;
    position: relative;
    left: 50px;
}

.submitForm:hover{
    background-color: rgb(25, 135, 84);   
}

.email{
    font-family: cursive;
}

 .opaco{
    background-color: gray;
  color: white;
  cursor: not-allowed;
  opacity: 0.6; }

  .ok{
    position: relative;
    left: 73px;
  }

  .ok:hover{
 background-color: rgb(25, 135, 84);   

  }