

<div *ngIf="showForm" class="w-100"> 
<form [formGroup]="formGroup">

  <mat-form-field>
    <div (click)="close()"> 
    <mat-icon  class="closer  bg-white rounded "> close </mat-icon>
    </div>
    <mat-label class="email fs-4 fw-bold">Inserisci l'email</mat-label>
    <input matInput type="email" name="email" formControlName="email">
  </mat-form-field>


  <button   [disabled]="formGroup.get('email')?.invalid || formGroup.get('email')?.value === ''" 
 [ngClass]="this.formGroup.value.email == ''? 'opaco' : 'normale'" class="submitForm cursor-pointer" (click)="onSubmit()" mat-raised-button color="primary">  Invia </button>
</form>


</div>





<div   *ngIf="!showForm &&!mostraPagina" class="conferma"> Grazie per averci contattato, a breve le arriverà una mail. 😉

  <button (click)="onSubmit2()" class="ok ml-5 mt-2"> OK </button>
</div>



<div  *ngIf="mostraPagina">
</div>
















