

<mat-card  [ngClass]="inizioQuiz === true? 'none': 'miao'">
  <mat-card-title  class="mt-4 fs-3 mx-3"> Vuoi iniziare? </mat-card-title>
  <mat-card-content>Il quiz viene sottoposto agli utenti una volta a settimana, al fine di capire il grado di preparazione ed eventualmente intervenire
    sulle principali lacune. Raccomando gli utenti di non copiare le risposte,sarebbe inutile farlo dato che il nostro intento è quello di portare lo studente a un grado di preparazione più elevato!! </mat-card-content>
  <div class="container">
  <button (click)="goToDomande()" class="button1 mx-3 mt-3" (click)="trovaUtente()"> Si </button>
  <button class=" button2 mx-3 mt-3"> No </button>
  </div>
</mat-card>


<mat-card [ngClass]="fineQuiz === true? 'none' : 'mah'"  *ngIf="domande && domande.length > 0  && inizioQuiz" class="example-card" appearance="outlined">

  <mat-card-header>
    <mat-card-title>{{ domande[currentIndex]?.testoDomanda}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
   <div *ngFor="let risposta of domande[currentIndex]?.listaRisposte">
    <mat-checkbox [checked]="isChecked(domande[currentIndex], risposta)"
      (change)="toggleSelezione(domande[currentIndex], risposta)">
      {{ risposta.risposta }}
  </mat-checkbox>
   </div>


 </mat-card-content>

 <mat-card-actions>
   <button class="indietro" mat-button color="accent" (click)="domandaPrecedente()" [disabled]="currentIndex === 0">
      Indietro
    </button>
    <button class="avanti" mat-button color="primary"  (click)="prossimaDomanda()" [ngClass]="this.currentIndex === domande.length - 1? 'scompare' : 'avanti'">
      Avanti
    </button>
  <button (click)="prossimaDomanda()"  class="buttonInvia" mat-button color="primary" *ngIf="currentIndex === domande.length - 1">
      Invia
    </button>

 </mat-card-actions>

</mat-card>

<mat-card *ngIf="fineQuiz">
  <mat-card-title  class="mt-4 fs-3 mx-3"> Quiz Terminato </mat-card-title>
  <mat-card-content>Il quiz è terminato, la ringrazio per l'impegno!!. A breve riceverà nostre notizie sul suo esito. </mat-card-content>
  <div class="container">
  </div>
</mat-card>