
mat-card{
  background-color: #a69898;
    width: 500px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    top:240px;
    left:320px;
}

mat-card-title{
  font-family: cursive;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}





.button1{
  width: 80px;
  border-radius: 20px;
}
.button2{
  width: 80px;
  border-radius:20px;

}

.button1:hover{
  background-color: rgb(25, 135, 84);
}

.button2:hover{
  background-color: rgb(25, 135, 84);
}

.none{
  display: none;
}

.indietro{
  background-color: aliceblue;
  position:relative;
  left:10px;
  top:30px;
  border-radius: 10px;
}

.avanti{
  background-color: aliceblue;
  position:relative;
  left:280px;
  top:30px;
  border-radius: 10px;

}

.indietro:hover{
  background-color: rgb(25, 135, 84);;
}


.avanti:hover{
    background-color: rgb(25, 135, 84);;

}

.buttonInvia{
  background-color: aliceblue;
  position:relative;
  left:280px;
  top:30px;
  border-radius: 10px;
}


.scompare{
  display: none;
}

.buttonInvia:hover{
      background-color: rgb(25, 135, 84);

}