
.formRecupero{
     display: flex;
    flex-direction: column;
    width: 351px;
    border: solid 2px black;
    border-radius: 10px;
    position: relative;
    top: 291px;
    left: 40%;
    height: 320px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}


.mit{
     width: 120px;
    border-radius: 20px;
    position: relative;
    left: 93px;
    top: 25px;
}

.mit:hover{
    background-color: beige;
}


.field1{
    position:relative;
    top: 25px;
}

.field2{
    position:relative;
    top: 29px;
}


.backLogin{
    position: relative;
    top:40px;
    left:43px;
    color:black;

}

.backLogin:hover{
cursor: pointer;

}
