<app-foto-recupero-password> 
<form [formGroup]="recuperoPassword" class="formRecupero "  style="display: flex; flex-direction: column;">
  <h1 class="fs-4 mx-5" style="font-family: cursive;"> Recupero Password </h1>
  <mat-form-field class="field1">
    <mat-label class="fs-4 fw-bold" style="font-family: cursive;">Password Precedente</mat-label>
    <input matInput formControlName="passwordVecchia" placeholder="Password precedente" type="password">
  </mat-form-field>
  <mat-form-field class="position-relative top-25 field2">
    <mat-label class="fs-4 fw-bold" style="font-family: cursive;">Password Nuova</mat-label>
    <input matInput  type="password" formControlName="passwordNuova" placeholder="Password Nuova">
  </mat-form-field>

  <button (click)="cambioPassword()" class="mit" type="submit" mat-raised-button color="primary">Invia</button>

  <a (click)="tornaLogin()" class="backLogin ms-5 cursor-pointer ">Torna al login</a>

</form>
</app-foto-recupero-password>