
html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(239, 237, 237);
  text-decoration:rgb(239, 239, 239)
}
.custom-select-panel .mat-option:hover{
    background-color: rgb(5, 5, 93);
}


.snackbar-error {
background-color: #d6dcd6;
color: rgb(0, 0, 0);
position: relative;
bottom: 390px;
}

.snackbar-success {
background-color: #d6dcd6;
color: rgb(0, 0, 0);
position: relative;
bottom: 390px;
}

.rispostagiusta {
background-color: #28ab28;
color: rgb(0, 0, 0);
position: relative;
bottom: 390px;
}

.rispostasbagliata {
background-color: #de1e1e;
color: rgb(0, 0, 0);
position: relative;
bottom: 390px;
}
