


form {
    width: 480px;
  height: 390px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  padding: 18px;
  background-color: #4caf50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1;
}

.button{
    width: 100px;
    border-radius: 20px;
    height: 40px;
    position: relative;
    left: 130px;
}

.button:hover{
    background-color: rgba(88, 85, 171, 0.881);
    cursor: pointer;
}

.forgot{
    margin-top: 19px;
    margin-left: 50px;
}



