


<app-fotologin> 
<form [formGroup]="userForm" > 
  <mat-card-title class="fw-bold text-center fs-2 mb-4"> LOGIN </mat-card-title>
<mat-form-field>
  <mat-label class="fs-4 fw-bold ">Email</mat-label>
  <input matInput placeholder="Inserisci email"  name="email" formControlName="email" class="fs-5" >
</mat-form-field>
<mat-form-field>
  <mat-label class="fs-4 fw-bold">Password</mat-label>
  <input matInput placeholder="Inserisci password" type="password"  name="password" formControlName = "password" class="fs-5 " >
</mat-form-field>
<button type="submit" class="button fs-5" mat-raised-button color="primary" (click)="onSubmit()">Invia</button>
<div> 
  <div class="forgot"> Non sei registrato?  <a style="text-decoration: underline; cursor: pointer;" (click)="onSignIn()"> Registrati </a> </div>
</div>



</form>


</app-fotologin>



