<form [formGroup]="InvioDati" [ngClass]="mostraInfo == true ? 'sfocato' : 'nonsfocato'"> 
<div class="mt-5 formIntero"> 
<div class="d-flex flex-direction-row"> 
<label> Email:  </label>
  
  <span> {{ emailUtente }}</span>
</div>
<mat-form-field class="mt-5">
  <mat-label>{{this.currentLang === 'it'?'Problematica' : 'Issue'}}</mat-label>
  <mat-select formControlName="problematica">
    <div class="opzioniServizi"> 

    <!-- Sezione immatricolazione -->
    <div class="immatricolazioni "> 

     <mat-optgroup  label="Materie" style="font-weight: bold; font-size: 20px; font-family:cursive"> 
    <mat-option value="Sociologia">{{this.currentLang === 'it' ? 'Sociologia': 'Sociology'}}</mat-option>
    <mat-option value="Psicologia" >{{this.currentLang === 'it' ? 'Psicologia': 'Psychology'}}</mat-option>
    <mat-option value="Filosofia">{{this.currentLang === 'it'? 'Filosofia' : 'Philosophy'}}</mat-option>
    <mat-option value="Geografia">{{this.currentLang === 'it'? 'Geografia' : 'geography'}}</mat-option>
    <mat-option value="Arte">{{this.currentLang === 'it'? 'Arte' : 'Art'}}</mat-option>
    <mat-option value="Informatica">{{this.currentLang === 'it'? 'Informatica': 'Informatics'}}</mat-option>
    <mat-option value="Chimica">{{this.currentLang === 'it'? 'Chimica': 'Chemistry'}}</mat-option>
    <mat-option value="Storia">{{this.currentLang === 'it'? 'Storia' : 'History'}}</mat-option>
    </mat-optgroup>

    </div> 


 

    </div>
  </mat-select>
</mat-form-field>
<mat-form-field class="mt-5 contenuto">
  <mat-label>{{this.currentLang === 'it'?'Contenuto' : 'Content'}}</mat-label>
  <textarea  style="overflow: hidden; resize: none;" class="w-100" matInput formControlName="contenuto" ></textarea>

</mat-form-field>
<input (change)="onFileSelected($event)"  class="mt-5" type="file"> 

<button (click)="onSubmit()" type="submit" class="invia" mat-button color="primary">{{this.currentLang === 'it'?'Invia' : 'Send'}} </button>
</div>
</form>

<div *ngIf="mostraInfo" class="info"> 
   <p> {{this.currentLang === 'it'?'Il ticket verrà risolto dal primo operatore disponibile' : 'The ticket will be solved by the first available operator'}} </p>
   <button class="buttonTicket" (click)="goHome()"> Ok </button>
</div>
