
.formTicket{
    width: 300px;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.opzioniServizi{
    background-color: rgb(255, 255, 255);
}

.formIntero{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 600px;
    margin-top: 50px;
    border: solid 2px black;
    padding: 28px;
    border-radius: 20px;
    background-color: rgb(25, 135, 84);   ;
}

.contenuto{
    width: 800px;
    height: 400px;
    
}

.invia{
    background-color: grey;
    width: 180px;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 200px;
}

.info{
     width: 623px;
    height: 234px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    border-radius: 20px;
     position: relative;
    left: 691px;
    top: -300px;
    z-index: 1000;
    padding: 28px;


}

.buttonTicket{
    width: 160px;
    position: relative;
    left: 158px;
    top: 35px;
    border-radius: 20px;
}


.sfocato{
    filter: blur(5px);
}

.nonsfocato{
    filter: none;
}

.over:hover{
    border: solid 4px black;
    border-radius: 10px;
    color: green;
    background-color: green;

}


.title{
    font-weight: bold;
     font-size: 20px;
      font-family:cursive;
}


